@model ZooApplication.Models.ViewModels.DetailsSpecies


@{
    ViewBag.Title = "View";
}
<h2>Species @Model.SelectedSpecies.SpeciesName</h2>
<nav>
    <ul>
        <li><a href="/Species/List">Go back to list</a></li>
        <li><a href="/Species/Edit/@Model.SelectedSpecies.SpeciesID">Update</a></li>
        <li>
            <a style="color:#ab2020;" href="/Species/DeleteConfirm/@Model.SelectedSpecies.SpeciesID">Delete</a>
        </li>
    </ul>
</nav>



<div class="row">
    <div class="col-md-6 col-sm-12">
        
        <div>Endangered: @Model.SelectedSpecies.SpeciesEndangered</div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h3>Trivia:</h3>
       
        @foreach (var trivia in Model.RelatedTrivias)
        {
            <h4>@trivia.TriviaTitle</h4>
            <p>@trivia.TriviaDesc</p>
        }
        
        <h3>Our @(Model.SelectedSpecies.SpeciesName)s</h3>
        @foreach (var animal in Model.RelatedAnimals)
        {
            <a href="/Animal/Details/@animal.AnimalID">@animal.AnimalName</a>

        }
    </div>
</div>
