@model ZooApplication.Models.ViewModels.DetailsBooking


@{
    ViewBag.Title = "View";
}
<h2>@Model.SelectedBooking.BookingName @Model.SelectedBooking.BookingPhone</h2>
<nav>
    <ul>
        <li><a href="/Booking/List">Go back to list</a></li>
        <li><a href="/Booking/Edit/@Model.SelectedBooking.BookingID">Update</a></li>
        <li><a style="color:#ab2020;" href="/Booking/DeleteConfirm/@Model.SelectedBooking.BookingID">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-6 col-sm-12">
       <div>Name: @Model.SelectedBooking.BookingName</div>
       <div>Phone: @Model.SelectedBooking.BookingPhone</div>
       <div>Date: @Model.SelectedBooking.BookingDate.ToString("yyyy-MM-dd")</div>
    </div>


    <div class="col-md-6 col-sm-12">
        <h4>Tickets:</h4>
        @{ 
            decimal subtotal = 0;
        }
        @foreach (var ticket in Model.BookedTickets)
        {
            subtotal += ticket.TicketPrice * ticket.TicketQty;
            <div class="ledgeritem">
                <form action="/Booking/Associate" method="POST">
                    <input class="hidden" name="TicketID" value="@ticket.TicketID" />
                    <input class="hidden" name="BookingID" value="@ticket.BookingID" />
                    <input class="hidden" name="Qty" value="@(ticket.TicketQty+1)"/>
                    <input type="submit" value="+" />
                </form>
                &nbsp;
                <form action="/Booking/Associate" method="POST">
                    <input class="hidden" name="TicketID" value="@ticket.TicketID" />
                    <input class="hidden" name="BookingID" value="@ticket.BookingID" />
                    <input class="hidden" name="Qty" value="@(ticket.TicketQty-1)" />
                    <input type="submit" value="-" />
                </form>
                &nbsp;
                @ticket.TicketQty x @ticket.TicketType

            </div>

        }
        <hr />
        <div>Total : $@subtotal</div>
    </div>
</div>